body {
  margin: 0;
  padding: 0;
  background-color: #d36de0ba;
  font-family: 'Arial';
}

h2 {
  text-align: center;
  color: black;
  padding: 20px;
}
label {
  color: white;
  font-size: 17px;
}

span {
  color: white;
  font-size: 17px;
}
a {
  float: right;
  background-color: grey;
}

/* ----------------------- products.css ---------------- */

#products {
}
#topdeals .prod,
#products .prod {
  text-align: center;
  float: left;
  width: 230px;
  border: 1px solid black;
  padding: 15px;
  margin-right: 5px;
  height: 400px;
  background-color: #ffffff;
  border-radius: 0.5em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
  margin-bottom: 5px;
}

#products .img,
#topdeals .img {
  padding: 5px;
  width: 180px;
  height: 200px;
}
#products .title,
#topdeals .title {
  padding: 5px;
  color: rgb(170, 74, 130);
  font-size: 0.5em;
}
#products .cat,
#topdeals .cat {
  padding: 5px;
  color: grey;
  font-size: 0.5em;
}
#products .price,
#topdeals .price {
  padding: 5px;
  color: tomato;
  font-size: 0.5em;
}

.clear {
  clear: both;
}

.product-title {
  text-align: center;
  font-size: 3em;
  font-weight: 100;
  font-family: cursive;
}

li {
  list-style: none;
}
